{% include base_path %}

<!-- start custom head snippets -->

<!-- Support for Academicons -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<!-- favicon from https://commons.wikimedia.org/wiki/File:OOjs_UI_icon_academic-progressive.svg -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/apple-touch-icon-180x180.png"/>
<link rel="icon" type="image/svg+xml" href="{{ base_path }}/images/favicon.svg"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-32x32.png" sizes="32x32"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-192x192.png" sizes="192x192"/>
<link rel="manifest" href="{{ base_path }}/images/manifest.json"/>
<link rel="icon" href="/images/favicon.ico"/>
<meta name="theme-color" content="#ffffff"/>

<!-- Fix for edge-to-edge text on blog layout -->
<style>
  .layout--blog .page__content {
    max-width: 900px;        /* yazı alanını ortala */
    margin: 0 auto;          /* ortalama */
    padding: 0 1.5rem;       /* sağ-sol boşluk */
    line-height: 1.7;        /* okuma konforu */
  }

  .author__avatar img {
  border-radius: 0 !important;
  width: 100% !important;
  height: auto !important;
  object-fit: cover;
}
</style>

<!-- end custom head snippets -->
